.no-padding{
	padding: 0;
	width: 100%;
}

.headerDiv{
	margin: 0px;
	min-height: 70px;
	background-color: #ee9620;
	text-align: center;
	font-size: large;
	padding: 0px;
}

.videoColumn {
	 position: relative;
	 left: 15px;
	 background-color: yellow; 
	 min-height: 519px; 
	 border: black solid 1px; 
	 border-radius: 10px;
}

.buttonsColumn {
	 position: relative;
	 left: 15px;
	 background-color: yellow; 
	 min-height: 519px; 
	 border: black solid 1px; 
	 border-radius: 10px;
}

.signout {
	width: 100px;
	height: 35px;
	font-size: 0.8em;
    border-radius: 5px;
    border-style: none;
    background-color: #000000;
    color: #ffffff;
}

.laneDetails {
	margin-top: 2px;
	max-width: 95%;
	background-color: #474747;
	border-radius: 10px;
	color: #ffffff;
	position: relative;
	left: 2.5%;
}

.formandbuttons {
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 10px;
	border: 0.5px solid black;
	max-width: 95%;
	min-height: 350px;
	background-color: white;
	color: black;
	position: relative;
	left: 2.5%;
}

/*styling input text boxes and dropdowns*/
.text-line {
	text-align: center;
	background-color: #ffffff;
    color: #000000;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #b9b9b9 1px;
    padding: 3px 5px;
}

select[disabled] { 
	background-color: white; 
	color: white;
}

/*styling radio buttons*/
/*do not display dot*/
input.cashType[type=radio] { 
    display:none; 
}

input.cashType[type=radio] + label {
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
    display:inline-block;
    padding: 4px 12px;
    padding-top: 8px;
    background-color: #b9b9b9;
    border-color: #ddd;
    width: 170px;
    height: 40px;
    border-radius: 10px;
}

input.cashType[type=radio]:checked + label {
    display:inline-block;
    background-color: #ee9620;
    border-color: #ddd;
}

/*Exempt vehicles radio buttons*/
input.exeVeh[type="radio"] {
	display:none;
}

input.exeVeh[type=radio] + label {
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
    display:inline-block;
    padding: 4px 12px;
    padding-top: 8px;
    background-color: #b9b9b9;
    border-color: #ddd;
    width: 170px;
    height: 40px;
    border-radius: 10px;
}

input.exeVeh[type=radio]:checked + label {
    display:inline-block;
    background-color: #ee9620;
    border-color: #ddd;
}

input.exeVeh[type=radio]:hover + label{
	background-color: #FF8C00;
}

/*buttons*/
.inp1 { /*for button*/
	margin-top: 5px;
	margin-right: 2px; 
	margin-left: 2px;
    background-color: #ee9620; 
    border: none;
    /*color: white; for font color*/
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 130px;
    height: 30px;
    border-radius: 10px;
}

/**
 * Check box
 */
.checkboxdiv label {
	color: grey;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 10px;
	padding-right: 30px;
	border-bottom: solid #b9b9b9 1px;
	text-align: center;
}

input[type="checkbox"]{
  position: relative;
  top: 5px;
  width: 15px; /*Desired width*/
  height: 15px; /*Desired height*/
}

.underline {
	color: #b9b9b9;
	position: relative;
	margin-top:-9px;
}

/*for errors*/
.error{
	display: none;
	margin-left: 10px;
}		
		
.error_show{
	color: red;
	margin-left: 10px;
}

.footer {
	margin: 0px;
	min-height: 50px;
	background-color: #6f7070;
	color: #ffffff;
	text-align: center;
	font-size: large;
	padding: 0px;
}

.heading {
	margin-top: 6%;
	margin-left: 40%;
	style="margin-left:10%"
}

@media print {  
  @page {
    /*size: 297mm 210mm; *//* landscape */
    /*size: 85mm 177.8mm;*/
    size: 90mm 180mm;
    /* you can also specify margins here: */
    /*margin: 25mm;
    margin-right: 45mm;*/ /* for compatibility with both A4 and Letter */
  }
}